main {
    font-size: 20px;
    font-family:"Open Sans", sans-serif;
    margin: 0;
    padding: 0;

}

main > div {
    display: flex;
   
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 0;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.underline {
    width: 160px;
    height: 3px;
    background-color: #e74c3c;
    margin-bottom: 20px;
}
.header-underline {

    height: 3px;
    background-color: #e74c3c;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    width: 48%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 10px;
    transform: rotate(45deg);
}

.icon i {
    font-size: 2em;
    color: #e74c3c;
    transform: rotate(-45deg);
    
}

.text {
    max-width: calc(100% - 100px);
}

.text h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.text p {
    margin: 0;
    color: #777;
   
}

#centrado-P {
    padding: 20px;
    margin: 20px auto; /* Para centrar el div horizontalmente */
    max-width: 80%; /* Ajusta el ancho máximo */
    border-radius: 10px; /* Bordes redondeados */
    position: relative; /* Para posicionar elementos dentro de la tarjeta */
    width: 100%;
}

a {
    color: inherit; /* Hereda el color del elemento padre */
    text-decoration: none; /* Elimina el subrayado */
}

.header-i {
    color: orange; /* Cambia el color a naranja */
    font-size: 24px; /* Ajusta el tamaño de los iconos si es necesario */
}

.header-cont {
    display: flex; /* Usamos flexbox para la cabecera */
    justify-content: space-between; /* Espacio entre h1 e iconos */
    align-items: center; /* Alinear verticalmente */
}

.header-h2 {
    font-size: 1.5em; /* Ajusta el tamaño del h2 si es necesario */
}

.social-icons {
    display: flex; /* Muestra los iconos en fila */  
      gap: 5px; /* Espacio entre los iconos */
      color: grey;
    
}

.social-icons i {
    font-size: 16px; /* Tamaño de los iconos */

   
}

/* Estilos para los botones */
button {
    background-color: white; /* Fondo blanco */
    color: #f56a6a; /* Texto naranja */
    border: 2px solid #f56a6a; /* Borde naranja */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor a pointer */
    transition: all 0.3s ease; /* Transición suave */
}

button:hover {
    background-color: #f56a6a; /* Fondo naranja al pasar el ratón */
    color: white; /* Texto blanco al pasar el ratón */
}

button a {
    color: inherit; /* Hereda el color del botón */
    text-decoration: none; /* Elimina el subrayado */
}
.footer-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */

}

.footer-item {
    background-color: #fff; /* Fondo blanco */
    border: 1px solid #ddd; /* Borde simple */
    padding: 10px; /* Espaciado interno */
}

.footer-image {
    display: flex; /* Flex para centrar la imagen */
    justify-content: center; /* Centrar horizontalmente */
    margin-bottom: 10px; /* Margen inferior */
}

.footer-image img {
    width: 100%; /* Imagen ocupa el 100% del ancho del contenedor */
    height: auto; /* Mantener la relación de aspecto */
   
}

.footer-content {
    padding: 10px; /* Espaciado interno */
}

.footer-content h3 {
    font-size: 1rem; /* Tamaño de fuente pequeño */
    margin: 10px 0; /* Margen superior e inferior */
}

.footer-content p {
    font-size: 0.8rem; /* Texto más pequeño */
    color: #333; /* Color de texto oscuro */
}

#lacinia h1{
display: flex;
justify-content: flex-start; 
}

.header-img img{
    width: 90%; /* Ajusta el tamaño a tu preferencia */
    height: 60%;
    border-radius: 5%; /* Hace que la imagen sea redonda */
    margin-left: 50px;
}
.header-top p{
    font-size: 15px; /* Reduce el tamaño del texto */
    font-weight: 300; /* Hace la letra más delgada (valores más bajos como 100 o 300 son más delgados) */
    color: #777;
}

.header-top h1{
    font-size: 3em; /* Reduce el tamaño del texto */
    line-height: 1.3;
    margin: 0 0 0.5em 0;
}

.parte-central{
    display: flex;
}

.barra-lateral{
    width: 24em;
    background-color: #f5f6f7;
    font-size: 0.9em;
    position: relative;
    
}

.barra-lateral ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    margin: 1px;
}

.inner nav, .inner section, .inner footer {
    padding-left: 2em;    
    padding-right: 2em;
}


#search{
    padding-top: 3.2em;
    padding-bottom: 2.6em;
    width: calc(100% - 4em);
    margin: 0em 0 3.3em 0em;
    background-color: #eff1f2;
}

#search input{
    margin-bottom: 0;
}

#search form {
    text-decoration: none;
    position: relative;
}

#search input {
    width: 300px; /* Ajusta el ancho según tus necesidades */
    height: 40px; /* Ajusta la altura según tus necesidades */
    padding: 10px; /* Añade espacio interior para hacerlo más grande */
    font-size: 16px; /* Aumenta el tamaño de la fuente */
    box-sizing: border-box; /* Asegura que padding no aumente el tamaño total */
}


#search-cont {
    position: relative;
    display: flex;
    align-items: center;
}

#search-continput {
    width: 100%;
    padding-right: 25px; /* Espacio para el icono a la derecha */
}

.query-search {
    position: relative;
    right: 1.5em; /* Ajusta la posición horizontal del icono a la derecha */
    color: #7f888f;; /* Color del icono */
    pointer-events: none; /* Elimina la interacción con el icono para no bloquear el clic en el input */
  
}
